In [1]:
import pandas as pd

In [2]:
# Cargar el archivo CSV
dolar = pd.read_csv("../Dolar/wilkinsonpc-dolar-historico-2010-01-03-al-2025-12-03.csv")  # Ajusta la ruta si está en otra carpeta

# Convertir la columna de fecha a tipo datetime
dolar['Fecha'] = pd.to_datetime(dolar['Fecha'])

# Crear columnas de año y mes
dolar['AÑO'] = dolar['Fecha'].dt.year
dolar['MES'] = dolar['Fecha'].dt.month

In [3]:
# Calcular el promedio mensual del precio del dólar
dolar_promedios = (
    dolar.groupby(['AÑO', 'MES'], as_index=False)['Precio']
         .mean()
         .rename(columns={'Precio': 'PRECIO_PROMEDIO'})
)

# Mostrar los primeros resultados
dolar_promedios.head()

    AÑO  MES  PRECIO_PROMEDIO
0  2010    1      1979.233448
1  2010    2      1951.723929
2  2010    3      1908.991935
3  2010    4      1937.449000
4  2010    5      1983.593226

In [4]:
# Guardar en un nuevo CSV
dolar_promedios.to_csv("../Dolar/promedio_mensual_dolar.csv", index=False)

print("✅ Archivo guardado en ../Dolar/promedio_mensual_dolar.csv")

✅ Archivo guardado en ../Dolar/promedio_mensual_dolar.csv