In [1]:
import pandas as pd

In [2]:
# Archivo base (precios por municipio)
base = pd.read_csv("../Data/leche_yarumal_ipc_limpio.csv")

# Promedios mensuales del dólar
dolar = pd.read_csv("../Dolar/promedio_mensual_dolar.csv")

# Promedios mensuales de gasolina por producto
gasolina = pd.read_csv("../Gasolina/promedios_mensuales_productos.csv")

In [3]:
print("Base municipios:", base.columns.tolist())
print("Dólar:", dolar.columns.tolist())
print("Gasolina:", gasolina.columns.tolist())

Base municipios: ['año', 'mes', 'nombre departamento', 'código departamento', 'nombre municipio', 'código municipio', 'precio promedio por litro', 'ipc']
Dólar: ['AÑO', 'MES', 'PRECIO_PROMEDIO']
Gasolina: ['AÑO', 'MES_NUM', 'PRECIO_PROMEDIO_BIODIESEL', 'PRECIO_PROMEDIO_CORRIENTE', 'PRECIO_PROMEDIO_EXTRA']

In [4]:
Base_municipios: ['AÑO', 'MES', 'nombre departamento', 'código departamento', 'nombre municipio', 'código municipio', 'precio promedio por litro', 'ipc']
Dólar: ['AÑO', 'MES', 'PRECIO_PROMEDIO']
Gasolina: ['AÑO', 'MES_NUM', 'PRECIO_PROMEDIO_BIODIESEL', 'PRECIO_PROMEDIO_CORRIENTE', 'PRECIO_PROMEDIO_EXTRA']

In [5]:
# Asegurar compatibilidad de nombres de columnas
dolar.rename(columns={'MES': 'MES_NUM', 'PRECIO_PROMEDIO': 'PRECIO_DOLAR'}, inplace=True)

# Unir por año y mes
base_dolar = pd.merge(base, dolar, left_on=['año', 'mes'], right_on=['AÑO', 'MES_NUM'], how='left')

# Eliminar columnas duplicadas de merge
base_dolar.drop(columns=['AÑO', 'MES_NUM'], inplace=True)

# Mostrar resultado
base_dolar.head()

,año,mes,nombre departamento,código departamento,nombre municipio,código municipio,precio promedio por litro,ipc,PRECIO_DOLAR
0,2013,1,antioquia,5,yarumal,5887,853.410677,112.1490,1769.672581
1,2013,2,antioquia,5,yarumal,5887,865.888855,112.6471,1790.547857
2,2013,3,antioquia,5,yarumal,5887,844.620447,112.8788,1813.748710
3,2013,4,antioquia,5,yarumal,5887,875.421163,113.1643,1830.231333
4,2013,5,antioquia,5,yarumal,5887,847.117207,113.4797,1847.921290

In [6]:
base_dolar.tail()

,año,mes,nombre departamento,código departamento,nombre municipio,código municipio,precio promedio por litro,ipc,PRECIO_DOLAR
139,2024,8,antioquia,5,yarumal,5887,1899.802012,143.670,4065.546452
140,2024,9,antioquia,5,yarumal,5887,1906.000000,143.845,4182.512333
141,2024,10,antioquia,5,yarumal,5887,1968.788864,144.020,4249.470000
142,2024,11,antioquia,5,yarumal,5887,1957.176055,143.830,4408.652333
143,2024,12,antioquia,5,yarumal,5887,1937.633769,144.220,4385.148710

In [7]:
base_dolar.to_csv("../Data/base_con_dolar.csv", index=False)
print("✅ Archivo guardado: ../Data/base_con_dolar.csv")

✅ Archivo guardado: ../Data/base_con_dolar.csv

In [8]:
# Asegurar consistencia de nombres
gasolina.rename(columns={'MES_NUM': 'mes', 'AÑO': 'año'}, inplace=True)

# Unir por año y mes, pero solo donde haya datos de gasolina
base_dolar_gas = pd.merge(base_dolar, gasolina, on=['año', 'mes'], how='inner')

# Mostrar las primeras filas
base_dolar_gas.head()

,año,mes,nombre departamento,código departamento,nombre municipio,código municipio,precio promedio por litro,ipc,PRECIO_DOLAR,PRECIO_PROMEDIO_BIODIESEL,PRECIO_PROMEDIO_CORRIENTE,PRECIO_PROMEDIO_EXTRA
0,2021,1,antioquia,5,yarumal,5887,1179.799187,105.48,3491.321613,8456.102537,8481.725207,11470.058091
1,2021,2,antioquia,5,yarumal,5887,1203.124427,105.91,3554.504286,8529.885835,8583.135052,11542.452675
2,2021,3,antioquia,5,yarumal,5887,1205.777276,106.58,3612.768387,8644.089757,8759.719588,11741.618257
3,2021,4,antioquia,5,yarumal,5887,1191.769293,107.12,3650.776000,8687.367476,8790.843847,12110.850427
4,2021,5,antioquia,5,yarumal,5887,1204.131528,107.76,3735.666129,8744.867663,8890.243271,12177.167442

In [9]:
base_dolar_gas.to_csv("../Data/base_con_dolar_gasolina.csv", index=False)
print("✅ Archivo guardado: ../Data/base_con_dolar_gasolina.csv")

✅ Archivo guardado: ../Data/base_con_dolar_gasolina.csv